.navbar-image {
    width: 7em;
}

.navbar {
    margin-bottom: 2em;
}

.navbar-dark .navbar-text {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
}

#navbarScrollingDropdown {
    margin-right: 4em;
}