.ProductCard {
    border-width: 0.2em !important;
    border-image: linear-gradient( #212529, rgb(9, 118, 161), #212529) 1 !important;
}

.ProductCard .card-footer {
    background-color: #32383e;
    text-align: right;
}
.ProductCard:hover {
    border-image: linear-gradient( #212529, rgb(6, 247, 255), #212529) 1 !important;

}
.card-body {
    background-color: #212529 !important;
}